<div class="uk-container">
  <div class="uk-text-center uk-width-1-1" *ngIf="tag">
    <h2 class="mb-1">Viewing {{ tag.name }} tag</h2>
    <p class="uk-text-lead mt-1">{{ tag.description || 'No Description' }}</p>
    <hr class="uk-divider-icon">
  </div>
</div>

<div class="uk-flex-center mt-2" uk-grid *ngIf="busy">
  <span uk-spinner="ratio: 4"> </span>
</div>
<app-offline *ngIf="error" (refresh)="doRefresh($event)"></app-offline>
<app-list-posts *ngIf="!busy && posts?.length" [posts]="posts" [type]="'tag'" [tag_id]="tag.id"></app-list-posts>