<ng-progress></ng-progress>
<style>
  #my-menu {
    position: fixed;
    top: 2.2vh;
    left: 2vw;
    z-index: 1000;
    padding: 0px 12px;
    border: 1px solid white;
    box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

</style>
<div class="uk-offcanvas-content" id="top">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">
      <a class="uk-navbar-item uk-logo" [routerLink]="['/']">
        <span class="uk-visible@s mr-2">{{ site_name || "KhoPhi's" }}</span> Blog
        <img src="../assets/icons/icon-32x32.png" class="ml-4">
      </a>
    </div>
    <div class="uk-navbar-right">
      <div>
        <ul class="uk-navbar-nav">
          <li>
            <a href="#modal-center" uk-toggle>
              <span uk-icon="icon: search; ratio: 2;"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <a class="uk-button uk-button-secondary uk-button-large" href="#offcanvas-usage" id="my-menu" uk-toggle>
    <i uk-icon="icon: menu; ratio: 1.5;"></i>
  </a>
  <div class="" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
  <div id="offcanvas-usage" uk-offcanvas="overlay: true;">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-primary uk-nav-left uk-nav-parent-icon" uk-nav>
        <li routerLinkActive="uk-active">
          <a [routerLink]="['/']" (click)="closeSidebar()">
            <i uk-icon="icon: home"></i> Home</a>
        </li>
        <li routerLinkActive="uk-active">
          <a [routerLink]="['/category/all']" (click)="closeSidebar()">
            <i uk-icon="icon: folder"></i> All Categories</a>
        </li>
        <li routerLinkActive="uk-active">
          <a [routerLink]="['/tag/all']" (click)="closeSidebar()">
            <i uk-icon="icon: grid"></i> All Tags</a>
        </li>
        <li class="uk-parent" routerLinkActive="uk-active">
          <a href="#">
            <i uk-icon="icon: info"></i> Projects</a>
          <ul class="uk-nav-sub" aria-hidden="false">
            <li>
              <a href="https://menpha.khophi.com" target="new" (click)="closeSidebar()">MenPha</a>
            </li>
            <li>
              <a href="https://khophi.com" target="new" (click)="closeSidebar()">KhoPhi</a>
            </li>
            <li>
              <a href="https://materialize.khophi.co" target="new" (click)="closeSidebar()">Materialize</a>
            </li>
            <li>
              <a href="https://codebyside.khophi.co" target="new" (click)="closeSidebar()">CodeBySide</a>
            </li>
            <li>
              <a href="https://photos.khophi.co" target="new" (click)="closeSidebar()">3D Arts</a>
            </li>
            <li>
              <a href="https://blog.khophi.co/khophis-dev-radio/" target="new" (click)="closeSidebar()">Radio</a>
            </li>
            <li>
              <a href="https://enjoywifi.today" target="new" (click)="closeSidebar()">EnjoyWiFi</a>
            </li>
            <li>
              <a href="https://khophi.co" target="new" (click)="closeSidebar()">More</a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="uk-active">
          <a href="https://khophi.co" target="new" (click)="closeSidebar()">
            <i uk-icon="icon: user"></i> About Me</a>
        </li>
        <li routerLinkActive="uk-active">
          <a href="#modal-example" uk-toggle (click)="closeSidebar()" *ngIf="!clear_try">
            <i uk-icon="icon: bolt"></i> Try</a>
          <a uk-toggle (click)="closeSidebar(); changeURL('end')" *ngIf="clear_try">
            <i uk-icon="icon: bolt"></i> End Trial</a>
        </li>
      </ul>
      <hr class="uk-divider-icon">
      <div>
        <div class="uk-grid-small uk-child-width-auto uk-flex-inline uk-grid uk-padding-small" uk-grid>
          <div class="uk-first-column">
            <a class="uk-icon-button uk-icon" href="https://google.com/+Nkansahrexford" uk-icon="icon: google-plus"></a>
          </div>
          <div>
            <a class="uk-icon-button uk-icon" href="https://mobile.twitter.com/nkansahrexford" target="new" uk-icon="icon: twitter"></a>
          </div>
          <div>
            <a class="uk-icon-button uk-icon" href="https://github.com/seanmavley" target="new" uk-icon="icon: github"></a>
          </div>
          <div>
            <a class="uk-icon-button uk-icon" href="https://instagram.com/khophi.co" target="new" uk-icon="icon: instagram"></a>
          </div>
        </div>
      </div>
      <hr class="uk-divider-icon">
      <div *ngIf="!pages?.length" class="uk-flex-center mt-3" uk-grid>
        <span uk-spinner="ratio: 2"> </span>
      </div>
      <ul class="uk-subnav uk-subnav-divider" uk-margin *ngIf="pages?.length">
        <li class="uk-active" *ngFor="let page of pages">
          <a (click)="closeSidebar()" class="uk-text-muted" [routerLink]="['/page', page.slug, page.id]" style="text-transform: capitalize">{{ page.title.rendered }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="modal-center" class="uk-modal-container" uk-modal="esc-close: false;">
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <div class="uk-padding-large">
      <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
        <div class="uk-inline">
          <a class="uk-form-icon uk-form-icon-flip" (click)="onSubmit(searchForm.value)" uk-icon="icon: search"></a>
          <input type="text" class="uk-input uk-form-large" name="search" id="search" [(ngModel)]="search" style="width: 100vw;" placeholder="Search">
        </div>
      </form>
    </div>
    <div class="uk-flex-center" uk-grid *ngIf="search_busy">
      <span uk-spinner="ratio: 4"></span>
    </div>
    <div class="uk-padding-large pt-0" *ngIf="result">
      <h2>Search Results for "{{ search }}"</h2>
      <hr class="uk-divider-icon">
      <div class="" *ngIf="!search_busy">
        <ul class="uk-list uk-list-divider">
          <li class="uk-text-lead" *ngIf="!result?.length">
            No help articles related to "{{ search }}" found.
          </li>
          <li *ngFor="let post of result">
            <a [routerLink]="['/', post.slug, post.id]" class="uk-text-bold" (click)="closeModal()">{{ post.title.rendered }}
              <span uk-icon="icon: chevron-right; ratio: 0.8" class="mr-1"></span>
            </a>
            <p class="uk-text-muted mt-0" [innerHTML]="(post.excerpt.rendered.length > 60) ? (post.excerpt.rendered | slice: 0:60)+'..':(post.excerpt.rendered)"></p>
            <a [routerLink]="['/', post.slug, post.id]" (click)="closeModal()" class="uk-float-right">Continue reading</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
  .up-button {
    display: none;
    position: fixed;
    right: 2vw;
    bottom: 3vh;
  }

</style>
<div class="up-button" id="up-but">
  <a class="uk-icon-button uk-margin-small-right" uk-icon="icon: arrow-up; ratio: 6;" href="#top" uk-scroll></a>
</div>
<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Enter Your WordPress URL</h2>
    <p class="uk-text-muted">Just your WordPress domain. Don't begin with
      <strong>https://</strong>
    </p>
    <form #changeWPForm='ngForm'>
      <div class="uk-margin">
        <input type="text" class="uk-input" name="url" [(ngModel)]="url" placeholder="e.g theafricandream.net" required>
      </div>
      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary uk-modal-close" [disabled]="changeWPForm.invalid" type="button" (click)="changeURL(changeWPForm.value)">Continue</button>
      </p>
    </form>
  </div>
</div>
