
.card:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .16) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .16) !important;
  background-color:#f2f2f2;
  z-index: 500;
}

.no-decor {
  text-decoration: none;
  color: none;
}
