<div class="uk-container">
  <div class="uk-flex-center" uk-grid *ngIf="busy">
    <span uk-spinner="ratio: 4"> </span>
  </div>
  <app-offline *ngIf="error" (refresh)="doRefresh($event)"></app-offline>
  <div class="uk-text-center uk-width-1-1" *ngIf="!busy && !error && categories">
    <h2 class="mb-1">Viewing All Categories</h2>
    <p class="uk-text-muted mt-1">There are {{ categories?.length || 'No' }} categories</p>
    <hr class="uk-divider-icon my-1">
  </div>
  <app-special-list [items]="categories" [type]="'category'"></app-special-list>
</div>