<div class="uk-container">
  <div class="uk-text-center uk-width-1-1" *ngIf="user">
    <h2 class="mb-1">Viewing {{ user.name }}</h2>
    <p class="uk-text-lead mt-1">{{ user.description || 'No Description' }}</p>
    <hr class="uk-divider-icon">
  </div>
</div>
<div class="uk-flex-center mt-3" *ngIf="busy" uk-grid>
  <span *ngIf="busy" uk-spinner="ratio: 4"> </span>
</div>
<app-offline *ngIf="error" (refresh)="doRefresh($event)"></app-offline>
<app-list-posts *ngIf="!busy && posts?.length" [posts]="posts" [type]="'author'" [author_id]="user.id"></app-list-posts>