<ul class="uk-iconnav my-4 uk-hidden@m">
  <li>
    <a uk-icon="icon: social; ratio: 2" (click)="doShare()"></a>
    <div uk-dropdown="pos: right-center">
      <ul class="uk-iconnav">
        <li>
          <a href="https://plus.google.com/share?url=https%3A//khophi.blog/{{ post.slug }}/{{ post.id}}" target="new" uk-icon="icon: google-plus; ratio: 1.5"></a>
        </li>
        <li>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//khophi.blog/{{ post.slug }}/{{ post.id}}" target="new" uk-icon="icon: facebook; ratio: 1.5"></a>
        </li>
        <li>
          <a href="https://twitter.com/home?status=I%20enjoyed%20reading%20this%20piece%20on%20KhoPhi%20Blog%20about%20{{ post.title.rendered }}%20on%20https://khophi.blog/{{ post.slug }}/{{ post.id }}"
            target="new" uk-icon="icon: twitter; ratio: 1.5"></a>
        </li>
        <li>
          <a href="mailto:?&body=I%20enjoyed%20reading%20this%20piece%20on%20KhoPhi%20Blog%20about%20{{ post.title.rendered }}%20on%20https://khophi.blog/{{ post.slug }}/{{ post.id }}"
            target="new" uk-icon="icon: mail; ratio: 1.5"></a>
        </li>
      </ul>
    </div>
  </li>
</ul>
<ul class="uk-iconnav my-4 uk-visible@m">
  <li>
    <a href="https://plus.google.com/share?url=https%3A//khophi.blog/{{ post.slug }}/{{ post.id}}" target="new" uk-icon="icon: google-plus; ratio: 2"></a>
  </li>
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//khophi.blog/{{ post.slug }}/{{ post.id}}" target="new" uk-icon="icon: facebook; ratio: 2"></a>
  </li>
  <li>
    <a href="https://twitter.com/home?status=I%20enjoyed%20reading%20this%20piece%20on%20KhoPhi%20Blog%20about%20{{ post.title.rendered }}%20on%20https://khophi.blog/{{ post.slug }}/{{ post.id }}"
      target="new" uk-icon="icon: twitter; ratio: 2"></a>
  </li>
  <li>
    <a href="mailto:?&body=I%20enjoyed%20reading%20this%20piece%20on%20KhoPhi%20Blog%20about%20{{ post.title.rendered }}%20on%20https://khophi.blog/{{ post.slug }}/{{ post.id }}"
      target="new" uk-icon="icon: mail; ratio: 2"></a>
  </li>
</ul>