<div class="uk-flex-center mt-3" *ngIf="busy" uk-grid>
  <span uk-spinner="ratio: 4"> </span>
</div>
<app-offline *ngIf="error" (refresh)="doRefresh($event)"></app-offline>
<app-list-posts *ngIf="!busy && !error && posts?.length" [posts]="posts" [type]="'all'"></app-list-posts>