<div class="uk-container">
  <div class="uk-text-center mt-3">
    <p>Sorry KhoPhi Blog is taking too long to load</p>
    <a (click)="doRefresh()" class="uk-button uk-button-primary rounded-0">Try again</a>
  </div>
</div>